* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.left {
    padding: 0.5em;
}

#start-button {

}

.game-info {
    overflow-y: scroll;
    height: 80vh;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    height: 100%;
}

.boards-container {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.computer-board-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    border: 1px solid black;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: red;
}


